/* Custom Properties */

:root {
    --font-primary: 'Ubuntu', sans-serif;
    --container-width: 1200px;

    --color-1: #151625;
    --color-2: #1F2030;
    --color-3: #3D3F5F;
    --color-3-2: rgb(87, 89, 126);
    --color-4: #4C557D;
    --color-5: #5A6A9A;
    --color-6: #54AFE1;
    --color-7: #A2CFEB;
    --color-8: #C9DFF0;
    --color-9: #DDE7F2;
    --color-10: #F0EFF4;

}

/* Reset */

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 16px;
    font-family: var(--font-primary);
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    overflow-x: hidden;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    list-style: none;
    color: black;
    transition: all .5s ease-out;
}

a:hover {
    color: black;
    font-size: 1.1rem;
    opacity: 1;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

button, input {
    outline: none;
    transition: opacity .5s ease-out;
}

button:hover {
    opacity: .8;
}

/* Utilities */

.none {
    display: none;
}

.hidden {
    visibility: hidden;
}

.online, 
.offline {
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}

.online h2,
.offline h2 {
    font-size: 1rem;
    font-weight: 300;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: .2rem;
    background-color: blue;
    color: white;
    text-align: center;
}

/* Site Properties */

body {
    position: relative;
    background-color: var(--color-10);
}

.header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    background-color: var(--color-2);
    position: sticky;
    top: 0;
    z-index: 9999;
    min-width: 320px;
}

.header-logo {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo__p {
    font-size: 1rem;
    font-weight: 900;
    text-align: center;
}

.header-nav {
    width: 45%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-nav__ul {
    position: fixed;
    top: 10vh;
    left: 0;
    background-color: var(--color-10);
    padding:0;
    margin:0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    transform: translate(-150%, 0);
    transition: transform .5s ease;
    overflow-y: auto;
}

.h-n-ul-li {
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
}

.main {
    width: 100%;
    height: auto;
    min-width: 320px;
}

.main-seccion {
    padding: 1rem;
    padding-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: var(--container-width);
    min-height: 100vh;
    height: 100vh;
    text-align: center;
    background-color: var(--color-9);
}

.main-seccion__h2 {
    width: 100%;
    height:15%;
    padding:0;
    display: grid;
    place-content: center;
    margin: 1rem 1rem 0rem 0rem;
}

.main-seccion__reloj {
    width: 100%;
    height: 15%;
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    transform: translate(-150%, 0);
    transition: transform .5s ease;
}

.main-seccion__reloj * {
    font-size: 3.5rem;
    padding:0;
    margin:2rem;
}

.main-seccion__form {
    width: 100%;
    height: 50%;
    display: grid;
    place-content: center;
    margin: 0;
    padding: 0;
    transition: transform 1s ease;
}

.main-seccion__form * {
    padding: .5rem;
    margin: .5rem;
    width: 100%;
    background-color: var(--color-10);
    border: 2px solid var(--color-2);
    color: var(--color-2);
}

.main-seccion__form *:disabled {
    background-color: rgb(179, 179, 179);
}

.main-seccion__container {
    width: 100%;
    margin: 2rem auto;
    display: flex;
    min-height: 35vh;
    background-color: black;
    overflow: hidden;
    max-width: 90%;   
}

.m-s-container-bolita {
    margin: auto;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--color-10);
}

.main-seccion__buttons {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.main-seccion__buttons * {
    width: 15%;
    height: 100%;
    padding: 0;
    margin:0;
    text-align: center;
    background-color: var(--color-10);
    border: 2px solid var(--color-2);
    color: var(--color-2);
}

.main-seccion__countdown {
    height: 75%;
    display: grid;
    place-content: center;
    font-size: 2.5rem;
    font-weight: bold;
}

.main-seccion__countdown * {
    font-size: 1.5rem;
    font-weight: bold;
}

.main-seccion__countdown bold {
    display: none;
}

.btn-scroll__top {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: .5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 50px;
    background: var(--color-2);
    transition: all .3s ease-in-out;
    cursor: pointer;
    font-size: 1.2rem;
}

.header-nav__dark-light {
    width: 0;
    height: 0;
    padding: 1.5rem;
    position: sticky;
    bottom: 12vh;
    left: 5%;
    display: grid;
    place-content: center;
    cursor: pointer;
    border-radius: 50px;
    background-color: var(--color-2);
    font-size: 1.5rem;
}

.dark-mode {
    background-color: var(--color-1);
    color: var(--color-10);
    transition: all .5s ease-in-out;
}

.light-mode {
    background-color: var(--color-9);
    color: black;
    transition: all .5s ease-in-out;
}

.dark-mode-2 {
    background-color: var(--color-3-2);
    color: var(--color-10);
    transition: all .5s ease-in-out;
}

.light-mode-2 {
    background-color: var(--color-10);
    color: black;
    transition: all .5s ease-in-out;
}

.main-seccion__iframes {
    max-width: 90%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.main-seccion__iframes #maps {
    font-size: 1rem;
    padding: 0;
    margin: 0;
    background-color: transparent;
    width: 100%;
}

.main-seccion__iframes #maps * {
    color: blue;
    font-size: 1.2rem
}

.main-seccion__form-2 {
    width: 100%;
    height: 70%;
}

.main-seccion__form-2 input {
    padding: .6rem;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.main-seccion__form-2 input[type="button"],
.main-seccion__form-2 input[type="submit"] {
    width: 30%;
    cursor: pointer;
}

.main-seccion__informacionUA {
    max-width: 90%;
    min-width: 30%;
    margin: 0 auto;
    height: 50%;
}

.main-seccion__webcam {
    width: 80%;
    min-width: 30%;
    height: 70%;
    margin: 0 auto;
}

.main-seccion__geolocation {
    max-width: 90%;
    min-width: 30%;
    margin: 0 auto;
    height: 50%;
}

.main-seccion__geolocation a {
    color: blue;
    font-size: 1.2rem;
}

#seccion-9 {
    height: auto;
}

.card-filter {
    padding: .5rem;
    width: 80%;
    margin-bottom: 1.5rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* la función repeat es una función que nos permite repetir un tamaño para varias columnas, el primer parámetro hace referencia al número de columnas que quiero repetir y el segundo valor es el valor de ancho que va a tener cada columna. */
}

.card {
    background-color: var(--color-2);
    color: var(--color-10);
    transition: all .3s ease-out;
}

.card img {
    width: 100%;
    height: auto;
}

.card figcaption {
    padding: 1rem;
}

.filter {
    /* nos permite ocultar o discriminar los resultados que no coincidan con la busqueda, como le queremos poner transiciones, no se puede con un display none, asique si le queremos poner transiciones debemos usar visibility hidden, pero si no le queremos poner transiciones, con display none basta */
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    /* esta propiedad de order está disponible solo para grid o flex, lo que hace es que las que tengan order activada, se van a ir moviendo hacia el final, como todas las tarjetas con filter van a tener order 1, estas se van a ir al final dejando al principio las tarjetas con order 0 por defecto, que sería las que coincidan con la busqueda del usuario */
    order: 1;
}

.players {
    margin: 1rem;
}

.player {
    padding: .2rem;
}

#winner-btn {
    cursor: pointer;
    padding: .5rem;
}

#seccion-11 {
    height: auto;
}

.slider {
    position: relative;
    width: 80%;
    margin: 1rem auto;
    border: 1px solid red;
}

.slider-slides {
    position: relative;
    height: 350px;
}

.slider-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 1s ease;
}

.slider-buttons {
    height: 50px;
    border: 1px solid aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-buttons a {
    font-size: 2rem;
    margin: 0 5%;
}

.slider-buttons a:hover {
    font-size: 2.5rem
}

.main-seccion__calculator {
    width: 90%;
    height: 70%;
    margin: 0 auto;
    padding: .4rem;
    border: 1px solid red;
}

.m-s-calculator-resultados {
    background-color: white;
    height: 10%;
    width: 95%;
    margin: .5rem auto;
}

.m-s-calculator-buttons {
   width: 95%;
   padding: .5rem;
   height: 75%;
   margin: 0 auto;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr 1fr;
   grid-template-areas: 
   "seven eight nine div"
   "four five six mul"
   "one two three sum"
   "igual zero coma res";
   grid-gap: .5rem;
   border: 1px solid red; 
}

#zero {
    grid-area: zero;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#sum {
    grid-area: sum;
}

#res {
    grid-area: res;
}

#mul {
    grid-area: mul;
}

#div {
    grid-area: div;
}

#igual {
    grid-area: igual;
}

#coma {
    grid-area: coma;
}

.m-s-calculator-funcionesEspeciales {
    width: 95%;
    height: 10%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid red;
}

.m-s-calculator-funcionesEspeciales button {
    width: 45%;
    height: 100%;
}

/* medias queries */

@media screen and (min-width: 768px) {
    .slider-slides {
        position: relative;
        height: 400px;
    }
}

@media screen and (min-width: 1024px) {
    .header-logo {
        justify-content: flex-start;
    }
    
    .header-logo__p {
        font-size: 1.5rem;
        padding-left: 0;
    }
    
    .header-nav__ul {
        width: 20%;
    }
    
    .main-seccion__form {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .main-seccion__form * {
        padding: 1rem;
        width: 20%;
        margin:0;
        cursor: pointer;
    }
    
    .main-seccion__reloj * {
        font-size: 6rem;
        padding:0;
        margin:2rem;
    }

    .main-seccion__container {
        width: 1000px;
        min-height: 50vh;
    }

    .m-s-container-bolita {
        width: 4rem;
        height: 4rem;
    }

    .main-seccion__buttons {
        display: none;
    }

    .main-seccion__countdown {
        font-size: 5rem;
    }
    
    .main-seccion__countdown * {
        font-size: 3.2rem;
        font-weight: bold;
    }

    .main-seccion__countdown br {
        display: none;
    }

    .main-seccion__countdown bold {
        display: inline-block;
    }

    .main-seccion__form-2 input {
        width: 60%;
    }

    .main-seccion__webcam {
        max-width: 50%;
    }

    .card-filter {
        width: 50%;
    }

    .slider-slides {
        height: 400px;
    }

}

